<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:insert="parts/header :: head"></div>
<body>
<header th:insert="parts/menu :: navbar"></header>

<h3 class="text-center lh-base p-4 mt-5">Создание нового кредита</h3>
<form th:action="@{'/credits/new'}" method="post">
    <div class="form-group">
        <label for="currentAccount">Номер счета</label>
        <input type="number" class="form-control" name="currentAccount" id="currentAccount" aria-describedby="currentHelp" placeholder="Введите номер счета">
        <small id="currentHelp" class="form-text text-muted">Введите номер счета кредита.</small>
    </div>
    <br/>
    <span>Тип кредита?</span>
    <select name = "creditType">
            <option th:each="creditType : ${T(ru.pnz.floridov.RestDemo.util.CreditType).values()}" th:value="${creditType}" th:text="${creditType}">
            </option>
    </select>
    <br/>
    <span>Валюта кредита</span>
    <select name = "currency">
        <option th:each="currency : ${T(ru.pnz.floridov.RestDemo.util.Currency).values()}" th:value="${currency}" th:text="${currency}">
        </option>
    </select>
    <br/>
    <br/>
    <div class="form-group">
        <label for="amount">Сумма</label>
        <input type="number" class="form-control" name="amount" id="amount" aria-describedby="amountHelp" placeholder="Сумма кредита">
        <small id="amountHelp" class="form-text text-muted">Введите сумму кредита.</small>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="rate">Процентная ставка</label>
        <input type="number" name="rate" class="form-control" id="rate" aria-describedby="rateHelp" placeholder="Процентная ставка">
        <small id="rateHelp" class="form-text text-muted">Годовая процентная ставка.</small>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="loanPeriodInMonth">Срок кредита</label>
        <input type="number" name="loanPeriodInMonth" class="form-control" id="loanPeriodInMonth" aria-describedby="loanPeriodInMonthHelp" placeholder="Срок">
        <small id="loanPeriodInMonthHelp" class="form-text text-muted">Срок кредита.</small>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="insurance">Страховая компания</label>
        <input type="text" name="insurance" class="form-control" id="insurance" aria-describedby="insuranceHelp" placeholder="Страховая компания">
        <small id="insuranceHelp" class="form-text text-muted">Страховая компания.</small>
    </div>
    <br/>
    <div class="form-group">
        <span>На кого оформить кредит?</span>
        <label for="client">Выберите клиента</label>
        <select name="client" id="client">
            <option th:each="client : ${clients}" th:value="${client.getId()}" th:text="${client.getLastName()}">
            </option>
        </select>
    </div>




    <hr>
    <input type="submit" value="Создать кредит"/>
</form>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>