<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:insert="parts/header :: head"></div>
<body>
<header th:insert="parts/menu :: navbar"></header>

<h3 class="text-center lh-base p-4 mt-5">Реестр клиентов</h3>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>УИ клиента</th>
            <th>Фамилия клиента</th>
            <th>Имя клиента</th>
            <th></th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.getId()}"></td>
            <td th:text="${client.getLastName()}"></td>
            <td th:text="${client.getFirstName()}"></td>
            <td><a th:href="@{/clients/{id}(id=${client.id})}">Подробнее..</a> </td>
        </tr>
    </table>

    <hr>
    <form action="#" th:action="@{'/clients/new'}" method="get">
        <input type="submit" value="Новый клиент"/>
    </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>